@charset "utf-8";
/* レイアウトのためのCSS */

/* common */
html {
    font-size: 62.5%;
    /* 16px * 62.5% = 10px */
    width: 100%;
    box-sizing: border-box;
}

body {
    color: #333;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 2.4rem;
    text-align: left;
    background-color: #f0f0f0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    line-height: 1.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
    outline: none;
}

img {
    width: 100%;
    height: auto;
}

/* font-family */

.heading {
    font-family: 'Alex Brush', cursive;
    font-size: 5vw;
    font-weight: normal;
    color: #1bb7c3;
    animation-delay: 0.3s;
}

@media screen and (max-width:960px) {
    .heading {
        font-size: 5.6rem;
    }
}

#container {
    overflow-x: hidden;
}

/* header */
#header h1 {
    font-size: 2.4rem;
    letter-spacing: 0.1em;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: #1bb7c3;
}

#g-nav ul {
    display: flex;
    padding: 0 0 0 5%;
}

#g-nav ul li {
    letter-spacing: 0.1em;
    white-space: nowrap;
}

#g-nav ul li:last-child {
    display: none;
}

#g-nav ul li a {
    display: block;
    padding: 6px 15px;
}

@media screen and (max-width:1300px) {
    #g-nav ul {
        display: block;
        padding: 0;
    }

    #g-nav ul li a {
        padding: 6px 15px;
    }
}

#header ul#utility-navi {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    font-size: 0.8rem;
}

#header ul#utility-navi li {
    text-align: center;
}

#header ul#utility-navi li span {
    display: block;
}

#header ul#utility-navi li a {
    color: #666;
    padding: 15px 0;
    display: block;
    width: 100px;
    transition: all .5s;
}

#header ul#utility-navi li img {
    width: 35%;
}

#header ul#utility-navi li:first-child a {
    background: #666;
}

#header ul#utility-navi li:first-child a:hover {
    background: #888;
}

#header ul#utility-navi li:last-child a {
    background: #182578;
}

#header ul#utility-navi li:last-child a:hover {
    background: #1e2f98;
}

@media screen and (max-width:768px) {

    #header h1 {
        top: 9px;
        transform: translateX(-70%);
    }


    #header ul#utility-navi li span {
        display: none;
    }

    #header ul#utility-navi li a {
        width: 70px;
        height: 70px;
        padding: 0;
    }

    #header ul#utility-navi li img {
        width: 45%;
        margin: 17px 0 0 0px;
    }

}

@media screen and (max-width:530px) {

    #header h1 {
        font-size: 2.4rem;
        top: 14px;
        transform: translateX(-50%);
    }

    #g-nav ul li:last-child {
        display: block;
    }

    #header ul#utility-navi li:first-child {
        display: none;
    }

    #header ul#utility-navi li:last-child a {
        background: #666;
    }

    #header ul#utility-navi li:last-child a:hover {
        background: #888;
    }
}

/* lead */

#lead {
    position: relative;
    padding: 150px 0 0 0;
    height: 100vh;

}

#slider-area {
    width: 70%;
    height: 70vh;
    position: relative;
    top: 0;
    left: 15%;
    z-index: -1;
}

#slider-area #slider {
    width: 100%;
    height: 70vh;
}

#lead h2.heading {
    position: absolute;
    top: 160px;
    right: 10%;
}

#lead .lead {
    position: absolute;
    top: 280px;
    right: 4%;
    font-size: 2rem;
    letter-spacing: 0.2em;
    line-height: 1.6;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    white-space: nowrap;
}

#lead .lead span {
    display: block;
    padding: 100px 0 0 0;
}

/* new */

#news {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 40%;
    z-index: 2;
    padding: 40px;
}

#news h2 {
    position: relative;
    font-size: 1.8rem;
    margin: 0 0 30px 0;
}

#news h2::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background: #182578;
    left: 0;
    bottom: -5px;
}

#news li {
    margin: 0 0 10px 0;
}

#news li a {
    transition: all .3s;
}

#news li a:hover {
    background: #efefef;
}

#news li time {
    display: inline-block;
    padding: 0 20px 0 0;
    font-size: 0.8rem;
    color: #999;
}

@media screen and (max-width:1200px) {
    #lead .lead {
        font-size: 1.8rem;
        right: 2.5%;
    }

    #news {
        width: 50%;
    }
}

@media screen and (max-width:960px) {
    #lead .lead {
        font-size: 1.6rem;
        right: 3%;
    }

    #news {
        padding: 20px 30px;
    }

    #news li time {
        display: block;
    }
}

@media screen and (max-width:768px) {
    #slider-area {
        width: 74%;
        height: 90vh;
        left: 0;
    }

    #slider-area #slider {
        height: 90vh;
    }

    #lead h2.heading {
        top: 160px;
    }

    #lead {
        padding: 100px 0 0 0;
    }

    #lead .lead {
        right: 7%;
        top: 260px;
    }

    #news {
        width: 100%;
        bottom: -200px;
    }
}

@media screen and (max-width:550px) {

    #lead .lead {
        font-size: 2.0rem;
        right: 5%;
        color: #666;
    }
}

@media screen and (max-width:350px) {
    #lead .lead {
        right: 2%;
    }
}

/* research */

#research h2 {
    text-align: center;
    margin: 0 0 100px 0;
}

@media screen and (max-width:550px) {
    #research h2 {
        margin: 0 0 50px 0;
        z-index: 99;
    }
}

#research h2 span.bgLRextend::before {
    background: #333;
}


#research .research-area {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 300px 0;
}

@media screen and (max-width:768px) {
    #research .research-area {
        margin: 0 0 200px 0;
    }
}

@media screen and (max-width:590px) {
    #research .research-area {
        margin: 0 0 50px 0;
    }

    #research .fix {
        margin-top: 200px;
    }
}

#research .research-area::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 23em;
    background: #f3f3f3;
    right: 10%;
    top: 20%;
    z-index: -1;
}


#research .research-area:nth-of-type(2n+1) {
    flex-direction: row-reverse;
}


#research .research-area .img {
    width: 50%;
}

#research .research-area .content {
    width: 40%;
    background: #fff;
    box-shadow: 0 0 20px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
}

@media screen and (max-width:768px) {
    #research .research-area .content {
        width: 47%;
        top: 100px;
    }
}

@media screen and (max-width:590px) {
    #research .research-area .img {
        width: 100%;
        z-index: 2;
    }

    #research .research-area .content {
        width: 100%;
        top: -10px;
        animation: none;
        opacity: 1;
        z-index: 1;
    }
}

#research .research-area .content-area {
    padding: 40px;
}

#research .research-area .content-area h3 {
    text-align: center;
    font-size: 1rem;
    margin: 0 0 30px 0;
}

#research .research-area .content-area h3 span {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-size: 2.0rem;
}

#research .research-area .content-area p {
    margin: 0 0 30px 0;
}

#research .btn {
    text-align: right;
}