@charset "utf-8";

.content img {
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    width: 450px;
}

.btn {
    position: absolute;
    display: inline-block;
    color: #333;
    border: 2px solid #000;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 30px;
    text-decoration: none;
    margin: 30px auto;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
}

.btn:hover {
    background-color: #fff;
    color: red;
}