@charset "utf-8";

.section-top {
    color: #fff;
    padding: 40px 24px 10px 24px;
    background-color: #000;
}

.section-top h2 {
    line-height: 3.6rem;
}

.section-top__main-image img {
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
}

.section-top .slick-dots {
    bottom: 16px;
}

.section-top .slick-dots li button::before {
    color: #fff;
    font-size: 10px;
}

.section-runner,
.section-grip {
    background-color: #292929;
    padding: 60px 0;
    color: #fff;
}

.section-grip {
    background-color: #000;
}

.section-runner__visual {
    margin: 0 auto 40px auto;
    width: 86%;
}

.section-runner__main-image,
.section-grip__main-image {
    width: 100%;
}

.section-grip__visual {
    margin-bottom: 40px;
}

.section-runner h2,
.section-grip h2 {
    margin-bottom: 20px;
}

.section-shop {
    background-color: #292929;
    color: #fff;
    padding: 60px 24px;
}

.section-shop h2 {
    margin-bottom: 60px;
}

.section-shop__item-list img {
    width: 178px;
    height: 178px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 500px;
    margin: 0 auto 40px;
}