body {
  text-align: center;
  font-size: 62.5%;
  font-family: "Kokoro";
}

.title {
  padding-top: 30px;
}

.title-name {
  font-size: 2rem;
}

main {
  padding-top: 25px;
}

main h2 {
  font-size: 1.3rem;
}

.question {
  margin-bottom: 8px;
}

.selection {
  margin-top: 30px;
}

#text_q {
  font-size: 1.2rem;
  display: block;
}

#text_s {
  font-size: 1.2rem;
}

#text_s div {
  margin-bottom: -20px;
}

.answer {
  margin-top: 50px;
}

#text_a {
  font-size: 1.2rem;
}

#text_q table {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
