@charset "utf-8";

/* -------------------------- top ------------------------------ */

.top {
    background-image: url(../images/top.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    color: #faf6f9;
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.title h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 6.0rem;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.05em;
}

.title p {
    margin-top: 30px;
    font-size: 2.4rem;
}

/* ハンバーガーメニュー */
@media (max-width:480px) {

    #nav-drawer {
        position: relative;
        text-align: right;
        padding: 10px 24px 0 0;
    }

    #nav-open {
        display: inline-block;
        width: 25px;
        height: 22px;
    }

    #nav-open span,
    #nav-open span::before,
    #nav-open span::after {
        position: absolute;
        height: 3px;
        width: 30px;
        background-color: #faf6f9;
        display: block;
        content: "";
    }

    #nav-open span::before {
        bottom: -10px;
    }

    #nav-open span::after {
        bottom: -20px;
    }

    #nav-close {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
    }

    #nav-content {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
        width: 70%;
        height: 100%;
        background-color: #fff;
        text-align: left;
        padding: 15px 0 0 24px;
        transform: translateX(-200%);
        transition: 0.3s ease-in-out;
        box-shadow: 5px 0 25px rgba(0, 0, 0, 25);
    }

    .nav-drawer__title {
        font-family: 'La Belle Aurore', cursive;
        display: block;
        color: #333;
        margin-bottom: 46px;
        font-size: 3.0rem;
        font-weight: normal;
        line-height: 1;
        letter-spacing: 0.05em;
    }

    #nav-content ul li {
        margin-bottom: 36px;
    }

    #nav-content ul li a {
        text-decoration: none;
        font-size: 2.4rem;
        font-weight: normal;
        color: #333;
    }

    #nav-input:checked~#nav-close {
        display: block;
    }

    #nav-input:checked~#nav-content {
        transform: translateX(0%)
    }
}

@media (min-width:480px) {
    .header_navigation ul {
        display: block;
        text-align: right;
        padding: 20px 20px;
    }

    .header_navigation ul li {
        display: inline-block;
        margin-right: 20px;
        font-size: 2.0rem;
    }

    .header_navigation ul li a {
        text-decoration: none;
        color: #faf6f9;
    }
}

/* -------------------------- main ------------------------------ */

@media (min-width:480px) {
    main {
        text-align: center;
        margin: 0 100px 0 100px;
    }
}

/* ------ section-profile ------ */

.section-profile img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

.section-profile p {
    /* background: rgba(255, 255, 255, 0.8); */
    font-weight: 500;
    padding: 15px 10px 15px 10px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

@media (min-width:768px) {
    .section-profile h2 {
        padding-bottom: 60px;
    }

    .profile-block {
        display: flex;
        flex-wrap: wrap;
    }

    .section-profile img {
        width: 30%;
        object-fit: cover;
        height: auto;
        margin: 0 auto;
        margin-top: 0;
    }

    .section-profile p {
        font-size: 1.6rem;
        margin: auto auto;
        width: 30%;
        line-height: 50px;
        background-color: #fff;

    }
}

/* ------ section-photo ------ */

.section-photo img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-top: 30px;
}

.sample-photo {
    position: relative;
    text-align: center;
}

.sample-photo h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    color: #faf6f9;
    font-size: 4.0rem;
    font-family: 'La Belle Aurore', cursive;
    font-weight: normal;
}

/* ボタン */
.btn {
    display: inline-block;
    color: #333;
    border: 1px solid #333;
    padding: 10px 60px;
    border-radius: 30px;
    text-decoration: none;
    margin: 30px auto;
}

/* ボタンが押された時のアクション */

#gallary1.panelactive {
    display: block;
}

#gallary2.panelactive {
    display: block;
}

#gallary3.panelactive {
    display: block;
}

.gallary {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    opacity: 0;
    height: 100vh;
    transition: all 0.3s;
    background: #333;
    left: 0;
}

.gallary {
    opacity: 1;
    z-index: 999;
}

.gallary .img-list {
    position: fixed;
    z-index: -999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.gallary img {
    width: 90%;
    height: auto;
}

.gallary p {
    font-size: 2.0rem;
    color: #faf6f9;
}

.gallary p:last-child {
    padding-bottom: 30px;
}

@media (min-width:768px) {
    .gallary img {
        width: 100%;
        max-width: 700px;
        height: auto;
    }
}

/* closeボタン */
.closebtn {
    position: fixed;
    top: 10px;
    z-index: 9999;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.closebtn span {
    display: inline-block;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #faf6f9;
    width: 45%;
}

.closebtn span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
}

.closebtn span:nth-of-type(2) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
}

/* ------ section-topic ------ */

.section-topic ul {
    margin-top: 30px;
    list-style: none;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    border: solid 1px #333;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    padding-left: 10px;
}

.section-topic ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 90%;
    border-bottom: 1px solid #333;
}

.section-topic ul li:last-child {
    border-bottom: 0px;
}

@media (min-width:768px) {
    .section-topic ul {
        padding-left: 0;
    }

    .section-topic ul li {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
        max-width: 70%;
        border-bottom: 1px solid #333;
    }
}

/* ------ section-address ------ */
.address-map {
    padding-top: 30px;
}

.address-map iframe {
    width: 100%;
    height: 300px;
}

.address-box {
    padding-top: 20px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    padding-left: 10px;
    font-weight: 500;
}

/* ------ footer ------ */
.footer {
    max-height: 160px;
    background-color: #666;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.site-map {
    padding-top: 30px;
}

.site-map li {
    margin: 0 10px;
    display: inline-block;
    font-size: 1.8rem;
}

.site-map li a {
    text-decoration: none;
    color: #faf6f9;
}

.site-map li a:visited {
    color: #faf6f9;
}

.sns-link {
    margin-top: 30px;
}

.sns-link li {
    display: inline-block;
    width: 20px;
    margin: 0 10px;
}

.sns-link li img {
    width: 100%;
}

.footer small {
    font-size: 1.7rem;
    color: #faf6f9;
    display: inline-block;
    padding-top: 30px;
}