@charset "utf-8";

/* -------- top --------- */

.content {
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
}

.content h1 {
    font-size: 8.0rem;
}

.content p {
    font-size: 2.5rem;
    font-weight: 500;
    padding-top: 50px;
    line-height: 2;
}

.content p span {
    font-weight: bold;
    color: #000;
}

/* --------- main ---------- */

.main img {
    height: 300px;
    width: 375px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 6px 6px 0 0;
}

.heading {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
    margin: 50px 0 30px 0;
}

.wrapper {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}

.grid {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.wrapper2 {
    display: grid;
    gap: 52px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}

.grid2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4%;
}

.item {
    background-color: #fff;
    border-radius: 6px;
}

.item h3 {
    padding: 14px 20px;
}

.item p {
    padding: 0 20px 20px;
}